body {
    max-width: 1200px;
    margin: auto;
    background-image: url(./image/background.jpeg);
    background-size: cover;
}
header {
   max-width:1200px;
    height: 200px;
    padding-right: 500px;
}
nav {
    width: 900px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 50px;
    background-color: rgba(215, 226, 236, 0.9);
    padding: 1px;
    margin-top: 80px;
    margin-bottom: 120px;

}

header h2 {
    color: black;
    padding-top: 13px;
    font-weight: 900px;

}
nav button {
    background-color: rgb(31, 26, 26);
    width: 140px;
    height: 60px;
    color: aliceblue;
    border-radius: 50px;
    font-weight: 700;
    margin-top: 3px;
}
#imgBox {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    margin-bottom:200px;
    justify-content: space-evenly;
}

#imgBox h1, #imgBox p {
    max-width: none;
    max-height: 400px;
    display: flex;
    align-items: center;
    font-size: 40px;
    color: rgba(215, 226, 236, 0.9);
}
#imgBox h1 {
    font-size: 90px;
}

#imgBox p {
    margin-left: 40px;
}
.past {
    color: rgb(224, 10, 10);
  }
  
  .present {
    color: rgba(21, 216, 73, 0.672);
  }
  
  .future {
    color: rgb(43, 37, 37);
  }
  .booked {
    color: red;
  }